:root {
    --color1: #fbe5da;
    --color2: #c96e6e;
    --color3: #f3bfa5;
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--color2);
    font-family: "Poppins", sans-serif;
  }
  
  .header {/*header containing profile picture and nav bar set up as flex box style*/
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    background-color: var(--color1);
  }
  
  #profilePhoto {/*styling borders of Profile picture*/
    width: 400px;
    border-radius: 100%;
    border: 10px solid var(--color1);
  }
  
  #profilePhoto:hover {/*profile picture box shadow to give glowing appearance when hovering over it*/
    box-shadow: 0 0 20px #c96e6e;
  }
  
  .content-wrapper { /*nav bar style */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80%;
    width: 100%;
    flex-wrap: wrap;
  }
  
  .image-wrapper { /*profile picture container */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6%;
  }
  
  .Information {/*about me,work, contact, and resume font size*/
    text-align: center;
    font-size: 30px;
  }
  
  .Information a { /*style on links in nav bar*/
    text-decoration: none;
    color: var(--color2);
    display: block;
    margin: 4px 0;
    background-color: var(--color1);
    border-radius: 20px;
    padding: 30px;
  }
  
  .Information a:hover { /* change style on link in nav when hovering over them*/ 
      background-color: var(--color2);
      color: white;
      transition: all 0.3 ease-in;
  }
  
  .details {/*About me section set up as flex with column direction*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: left;
  }
  
  .heading { /*headings on About me and Work have same style underline and centered*/
      text-align: center;
      font-size: 40px;
      text-decoration: underline;
  }
  
  
  .aboutInfo { /*paragraph in about me section style */
    background-color: var(--color1);
    border: 10px solid var(--color3);
    border-radius: 20px;
    padding: 30px 60px;
    margin: 1%;
  }
  .projects {/*my first project display style*/
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
  }

  .projectInfo {/*paragraph in work section*/
      font-size: 25px; 
      padding: 20pxv;
  }

  .Future-projects{/*all future projects article style*/
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .singleimage {/*containers of future projects*/
    position: relative;
    text-align: center;
  }
  .Imgtitle{ /*description on future project image*/
    position: absolute;
    height: 30px;
    border: 2px #c96e6e solid;
    bottom: 30px;
    left: 30px;
    background-color: whitesmoke;
  }

  .footer-wrapper{ /* display all my contact options in footer with background */
    background-color: var(--color1);
    padding: 1%;
    font-size: 30px;
    margin-top: 30px;
  }
  .contactoption{  /* all contact options in footer are displayed as flex box row direction and spaced evenly */
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
  }
  .contactoption li a{ /*contact me links*/
    text-decoration: none;
  }
  #resume { /*resume button style*/
    font-size: 30px;
    margin-left: 50%;
    border: none;
    margin-top: 30px;
  }

  
  @media screen and (min-width: 600px) and (max-width: 992px) { /*making me website responsive to screen with max-width ofr 992px */
    .bringPopcorn img{
        width: 700px;
        height: 50%;
    }

  

    .content-wrapper { 
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  .Refactoring{
    left:15%;
  }
 .singleimage {
    position: relative;
    text-align: center;
  }

  .Imgtitle{
    left: 25%;
  }

  .aboutInfo, .projectInfo, .contactoption{
    font-size: 20px;
  }
  .heading{
    font-size: 30px;
  }
  
  .Information a {
      width: 60vh;
  }
  
  #profilePhoto {
      width:350px;
  }
  .contactoption{
    display: flex;
    flex-direction: column;
    text-align: center;
  } 
  .Future-projects{
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }
  }
  @media screen and (min-width: 200px) and (max-width: 600px) {  /*making me website responsive to screen with max-width ofr 660px */
    .aboutInfo {
        font-size: 20px;
        padding: 15px;
        justify-content: left;
        text-align: left;
        margin: 10px;
    }
    .header {
      font-size: 1.5rem;
  }
  
  #profilePhoto {
      width: 200px;
  }
  .Information a{
      font-size: 25px;
      width: 30vh;
      height: 20px;
  }
  .contactoption{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
  }
  .heading, .projectInfo{
    font-size: 20px;
  }
 #resume {
  font-size: 20px;
 }

 .bringPopcorn img{
  width: 350px;
  height: 50%;
}

#Image2, #Image3, #Horiseon-project{
  width: 100%;
  height: 100%;
}
.Refactoring{
  left:2%;
  height:35px;
} 

  